<div class="page5">
    <div class="banner2">
        <div class="leftdiv5">
            <h1>Download Our App</h1>
            <p>The best travel in the world</p>
            <div class="btn5">
                <div class="logodiv">
                    <img src="images/playstore.png" alt=""></div>
                <div class="textdiv5">
                    <p>Get it on</p>
                    <h4>Google Play</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="div1">
            <div class="logo list">
                <img src="images/gol-logo.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus atque qui.</p>
            </div>
            <div class="icon">
                <img src="images/facebook.png" alt="">
                <img src="images/twitter.png" alt="">
                <img src="images/linkedin.png" alt="">
                <img src="images/insta.png" alt="">
            </div>
        </div>
        <div class="div2 visible">
            <ul>
                <li><b>Company</b></li>
                <li class="list">Events</li>
                <li class="list">Blogs</li>
                <li class="list">FAQs</li>
                <li class="list">Join Us</li>
            </ul>
        </div>
        <div class="div3 visible">
            <ul>
                <li><b>About</b></li>
                <li class="list">Project</li>
                <li class="list">Blogs</li>
                <li class="list"></l>Services</li>
                <li class="list">Our Story</li>
            </ul>
        </div>
        <div class="div4 list">
            <ul>
                <li class="list">abc@lorem.com</li>
                <li class="list">India</li>
            </ul>
        </div>
        <div class="div5 visible">
            <ul>
                <li><b>Company</b></li>
            </ul>
        </div>
    </div>
    <div class="copydiv">
        <hr>
        <p class="copyright">Copyright @ 2023 Gol Travels Private Limited. All Rights Reserved</p>
    </div>
    <!-- <hr>
    <p class="copyright">Copyright @ 2023 Gol Travels Private Limited. All Rights Reserved</p> -->
</div>
<script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>
</body>
</html>
