<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&family=Source+Serif+Pro:wght@300;400&display=swap" rel="stylesheet">
    <title>GoLakshadweep</title>
</head>
<body>
    <div class="page1">
        <div class="header" id="header1">
            <div class="logo"><a href="/"><img class="logo1" src="images/gol-logo.png" alt="error"></a></div>
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Packages</a></li>
                    <li><a href="/changetitle">Gallery</a></li>
                    <li><a href="/glance">About Us</a></li>
                    <li><a href="/booking">Booking</a></li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li class="login1">Login</li>
                    <li class="btnsinup">Sign Up</li>
                </ul>
            </div>
        </div>

        <div class="mobile-container" id="header2">

            <!-- Top Navigation Menu -->
            <div class="topnav">
              <a href="/" class="active logo"><img src="images/gol-logo.png" alt=""></a>
              <div id="myLinks">
                <a href="/">Home</a>
                <a href="">Packages</a>
                <a href="/changetitle">Gallery</a>
                <a href="/glance">About Us</a>
                <a href="/booking">Booking</a>
              </div>
              <a href="javascript:void(0);" class="icon" id="menu" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            
            
            <!-- End smartphone / tablet look -->
            </div>

