
    <%- include('partials/header') %>

    <div class="main3" id="main3">
        <div class="headingdiv3" id="headingdiv3">
            <h1>My Booking</h1>
        </div>
        <div class="maindiv2" id="maindiv2">
            <div class="divleft" id="divleft">
                <img src="images/left-img.svg" alt="">
            </div>
            <div class="divright" id="divright">
                <label for="email">Email</label>
                <input type="email" name="Email" id="">
                <label for="Booking Id">Booking Id</label>
                <input type="number" name="Id" id="">
                <button>Find</button>
            </div>
        </div>
    </div>
</div>

    <%- include('partials/footer.ejs') %>

