<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Booking</title>
</head>
<body>
    <div class="header">
        <div class="logo"><img class="logo1" src="images/gol-logo.png" alt="error"></div>
        <div class="nav">
            <ul>
                <li><a href="">Find Reservations</a></li>
                <li><a href="">Pacages <span><img src="images/arrow.png" alt=""></span></a></li>
                <li><a href="">About Lakshadweep <span><img src="images/arrow.png" alt=""></span></a></li>
                <li><a href="glance.html">About Us</a></li>
                <li><a href=""></a>Gol</li>
                <li><a href="booking.html">Support</a></li>
            </ul>
        </div>
        <div class="login">
            <ul>
                <li>Login</li>
                <li class="btnsinup">Sign Up</li>
            </ul>
        </div>
    </div> -->

    <%- include('partials/header') %>

    <div class="main3" id="main3">
        <div class="headingdiv3" id="headingdiv3">
            <h1>My Booking</h1>
        </div>
        <div class="maindiv2" id="maindiv2">
            <div class="divleft" id="divleft">
                <img src="images/left-img.svg" alt="">
            </div>
            <div class="divright" id="divright">
                <label for="email">Email</label>
                <input type="email" name="Email" id="">
                <label for="Booking Id">Booking Id</label>
                <input type="number" name="Id" id="">
                <button>Find</button>
            </div>
        </div>
    </div>
</div>

    <%- include('partials/footer.ejs') %>

    <!-- <div class="footer">
        <div class="div1">
            <div class="logo">
                <img src="images/gol-logo.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus atque qui.</p>
            </div>
            <div class="icon">
                <img src="images/facebook.png" alt="">
                <img src="images/twitter.png" alt="">
                <img src="images/linkedin.png" alt="">
                <img src="images/insta.png" alt="">
            </div>
        </div>
        <div class="div2">
            <ul>
                <li>Company</li>
                <li>Events</li>
                <li>Blogs</li>
                <li>FAQs</li>
                <li>Join Us</li>
            </ul>
        </div>
        <div class="div3">
            <ul>
                <li>About</li>
                <li>Project</li>
                <li>Blogs</li>
                <li>Services</li>
                <li>Our Story</li>
            </ul>
        </div>
        <div class="div4">
            <ul>
                <li>abc@lorem.com</li>
                <li>India</li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="copyright">Copyright @ 2023 Gol Travels Private Limited. All Rights Reserved</p>
</body>
</html> -->