<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Change Title</title>
</head>
<style>
    body{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: xx-large;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    form{
        width: 100%;
        padding-left: 50px;
    }
</style>
<body>  
    <h1>Now You Can Change the title !!</h1>
    
    <form action="/change" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" name="text1" class="form-control" id="exampleFormControlInput1" placeholder="Enter Title">
        </div>
        <button type="submit" class="btn btn-primary mb-2" name="button">Change</button>
    </form>
</body>
</html>