<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Glance</title>
</head>
<body>
    <div class="pageno2">
        <div class="header">
            <div class="logo"><img class="logo1" src="images/gol-logo.png" alt="error"></div>
            <div class="nav">
                <ul>
                    <li><a href="">Find Reservations</a></li>
                    <li><a href="">Pacages <span><img src="images/arrow.png" alt=""></span></a></li>
                    <li><a href="">About Lakshadweep <span><img src="images/arrow.png" alt=""></span></a></li>
                    <li><a href="glance.html">About Us</a></li>
                    <li><a href=""></a>Gol</li>
                    <li><a href="/booking.html">Support</a></li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li>Login</li>
                    <li class="btnsinup">Sign Up</li>
                </ul>
            </div>
        </div> -->

        <%- include('partials/header') %>
        <div class="glance">
            <h1 id="glanceHeading">At a Glance</h1>
        </div>
        <div class="section1" id="section1">
            <h3>Explore New Destinations</h3>
            <div class="destinations" id="destinations">
                <img src="images/Rectangle 413.png" alt="">
                <img id="glanceimg2" src="images/Rectangle 414.png" alt="">
                <img src="images/Rectangle 415.png" alt="">
                <img src="images/Rectangle 416.png" alt="">
            </div>
        </div>
        <div class="section2" id="section2">
            <div class="leftimg" id="leftimg"><img src="images/Group2.svg" alt=""></div>
            <div class="righttext" id="righttext">
                <h3>About Lakshadweep</h3>
                <p class="para2">Lakshadweep Islands commonly known as coral paradise of India, a group of islands which is scattered in the Arabian Sea. This is one of the world's most spectacular tropical island systems, Lakshadweep is tucked away at 220-440Kms off cost of Kerala State of the Indian Peninsula. This archipelago consists of 36 sun-kissed islands comprises of 12 atolls, three reefs, five submerged banks and ten inhabited islands fringed by beautiful coral reefs and exotic marine life. The islands offer a precious heritage of ecology and culture. The unique feature of the Islands is its coral reef, making it a pristine leisure spot to come back. 4200 sq. kms of lagoon, rich in marine wealth, is spread over 36 islands in an area of 32 sq. kms.</p>
                <p id="para3">The underwater view at Lakshadweep is kaleidoscopic and breathtaking. Each island is fringed by snow white coral sands. The crystal clear water and the abundant marine life enhance the beauty of these islands. Against the vast expanse of the blue sea, the island looks like emeralds. The huge shallow calm lagoon on one side with wall like reef made of marine live coral boulders blocks the incoming swells of the outer sea. </p>
            </div>
        </div>
        <div class="section3">
            <div class="explore">
                <button>Explore Island</button>
            </div>
        </div>
        <div class="section4">
            <p class="para2">The pristine beauty, white sandy beaches, crystal clear water, shallow lagoon, rich marine wealth, pollution free environment, variety of coral eco system, flora & fauna and water sports activities like, scuba diving, snorkeling, wind surfing, water skiing, para sailing, sailing boats, speed boats makes Lakshadweep as one of the most popular holiday destination for tourists both domestic as well as foreign</p>

            <p class="para2">Lakshadweep is the tiniest Union Territory of India and is its only coral island chain. The islands have a total area of 32 sq.kms and the lagoons enclosed by the atolls cover an area of 4200 sq.kms. Its territorial waters extend to 20,000 sq.kms and Exclusive Economic Zone (EEZ) to 4,00,000 sq.kms. Only 10 of these islands namely, Agatti, Amini, Andrott, Bitra, Chetlat, Kadmat, Kalpeni, Kavaratti, Kiltan and Minicoy are inhabited. Kavaratti is the Administrative Headquarters of the Union Territory. It is culturally very close to the nearest mainland Indian state of Kerala and Malayalam is a widely spoken language apart from local dialects. Minocy Island has a different language by the name Mahl.</p>

            <p class="para2">Early history of Lakshadweep is unwritten. Local traditions attribute the first settlement on these islands to the period of Cheraman Perumal, the legendary king of Kerala. Though it is commonly believed that the first settlers in these islands were the ship-wrecked sailor who had set out to Mecca in search of Cheraman Perumal, the legendary king of Kerala, studies are being continued about the settlement.</p>

            <p class="para2">Earlier, life in these Islands was hard and challenging. Foreign traders and travellers held sway in these islands to explore it’s natural beauty. Quite often the islanders were subject to their savage cruelties. The events in these geographically isolated islands were never known to the outside world.</p>

            <p class="para2" id="para4">On 1st November 1956, the group of Islands was declared as a Union Territory. In 1973, the island group was renamed as the Union territory of Lakshadweep. The islands are restricted area and permit from the Administration is required to visit the islands. However permit formalities of bonafide tourist are taken care by the Lakshadweep Administration.</p>

            <p class="para2" id="para5">Fishing and coconut cultivation are the only major industries that exist in the islands. Almost everything else is sourced from the mainland in Kerala or Karnataka. The islands have a high literacy rate of 92.1% which implies that local resources are available in abundance if opportunities are presented to them. Tourism, undoubtedly, has the highest potential to provide opportunities to people with the luxurious coral beaches and marine wealth.</p>

            <p class="para2" id="para6">The climate of these Islands are similar to the climatic conditions of Kerala. The islands are linked to the mainland by ship, helicopter, flight, and mechanized sailing wooden vessels. Air India operates daily service from Cochin to Agatti Island and government owned ships are operating from Cochin and Calicut to Islands. BSNL and Airtel provide connectivity in the islands. BSNL is a provider in all 10 islands while Airtel covers Kavaratti and Agatti islands.</p>

            <p class="para2" id="para7">People of Lakshadweep are extremely friendly and always ready to welcome their guests with a smile. They are highly courteous and humble people following a simple lifestyle which can be envious to city dwellers.</p>

            <p class="para2" id="para8">The islands of Lakshadweep are truly a paradise on Earth. The islands are still virgin with all the natural glory that the group of coral islands has to offer. This makes it a perfect holiday destination to unwind from daily stress due to the mad rush to stay ahead in this highly competitive world that we are living in today. Our mission is to make this process as easy as possible so that more tourists can have the pleasure of experiencing the exotic beauty that the islands have to offer.</p>

            <p class="para2" id="para9">The white sandy beaches are a treat to anyone’s mind and body. The islands having a virgin beauty can be ranked among some of the most beautiful beaches in the world. Marine resource is rich in corals and fishes and is home to many exotic species of fishes and animals. The islands are totally free from poisonous or dangerous animal species like snakes and crocodiles making them even more tourist-friendly.</p>
        </div>
        <div class="section5">
            <h3>Activities</h3>
            <div class="activities" id="activities">
                <div class="box scuba">
                    <img class="icon scub" src="images/scuba.png" alt="">
                    <img class="icon line" src="images/Rectangle 55.png" alt="">
                    <p>Scuba Diving</p>
                </div>
                <div class="box Fishing">
                    <img class="icon" src="images/fishing.png" alt="">
                    <img class="icon line" src="images/Rectangle 56.png" alt="">
                    <p>Fishing</p>
                </div>
                <div class="box Boating">
                    <img class="icon" src="images/boat.png" alt="">
                    <img class="icon line" src="images/Rectangle 57.png" alt="">
                    <p>Boating</p>
                </div>
                <div class="box Turtle">
                    <img class="icon" src="images/turtle.png" alt="">
                    <img class="icon line" src="images/Rectangle 58.png" alt="">
                    <p>Turtle</p>
                </div>
            </div>
        </div>
        <div class="section6">
            <h3>Roadtrip Map</h3>
            <p>See clearly how the route will take place</p>
            <img src="images/map.svg" alt="">
        </div>
    </div>

        <%- include('partials/footer.ejs') %>

        <!-- <div class="footer">
            <div class="div1">
                <div class="logo">
                    <img src="images/gol-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus atque qui.</p>
                </div>
                <div class="icon">
                    <img src="images/facebook.png" alt="">
                    <img src="images/twitter.png" alt="">
                    <img src="images/linkedin.png" alt="">
                    <img src="images/insta.png" alt="">
                </div>
            </div>
            <div class="div2">
                <ul>
                    <li>Company</li>
                    <li>Events</li>
                    <li>Blogs</li>
                    <li>FAQs</li>
                    <li>Join Us</li>
                </ul>
            </div>
            <div class="div3">
                <ul>
                    <li>About</li>
                    <li>Project</li>
                    <li>Blogs</li>
                    <li>Services</li>
                    <li>Our Story</li>
                </ul>
            </div>
            <div class="div4">
                <ul>
                    <li>abc@lorem.com</li>
                    <li>India</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright @ 2023 Gol Travels Private Limited. All Rights Reserved</p>
    </div>
    </div>

</body>
</html> -->