<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GoLakshadweep</title>
</head>
<body>
    <div class="page1">
        <div class="header">
            <div class="logo"><img class="logo1" src="images/gol-logo.png" alt="error"></div>
            <div class="nav">
                <ul>
                    <li><a href="">Find Reservations</a></li>
                    <li><a href="">Pacages <span><img src="images/arrow.png" alt=""></span></a></li>
                    <li><a href="">About Lakshadweep <span><img src="images/arrow.png" alt=""></span></a></li>
                    <li><a href="glance.html">About Us</a></li>
                    <li><a href=""></a>Gol</li>
                    <li><a href="/booking.html">Support</a></li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li>Login</li>
                    <li class="btnsinup">Sign Up</li>
                </ul>
            </div>
        </div> -->
        <%- include('partials/header') %>
        <div class="main" id="main">
            <div class="textdiv" id="textdiv">
                <div class="heading1" id="heading1"><h3>Visit</h3></div>
                <div class="heading2" id="heading2"><h1><%= title %></h1></div>
                <div class="btn">Discover Now</div>
            </div>
            <div class="imgddiv" id="imgdiv">
                <img id="girl" src="images/girl.png" alt="">
            </div>
        </div>
    </div> 

    <div class="page2">
        <div class="headingpage2"><h1>Best Packages for You</h1></div>
        <div class="subheadingpage2"><p>This is a unique experience on ship,sea and land exploring differnt corol island of lakshadweep</p></div>
        <div class="table2">
            <div class="tablediv1" id="tablediv1">Maldives</div>
            <div class="tablediv2" id="tablediv2">Samudram</div>
            <div class="tablediv3" id="tablediv3">Cordelia</div>
            <div class="tablediv4" id="tablediv4">Agatti</div>
            <div class="tablediv5" id="tablediv5">More</div>
        </div>
        <div class="cards" id="cards">
            <div class="card1" id="card1" >
                <div class="cardimgdiv">
                    <img class="image1" src="images/photo.png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Indonesia</h2>
                    <h2><span><img src="images/Star 1.png" alt=""></span> 4.5</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Explore the beauty of island for 3 days amd 2 nights with our travel agency...</p>
                </div>
                <div class="cardbtndiv">Book Now</div>
            </div>
            <div class="card2" id="card2">
                <div class="cardimgdiv">
                    <img class="image1" src="images/photo (1).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Indonesia</h2>
                    <h2><span><img src="images/Star 1.png" alt=""></span> 4.5</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Explore the beauty of island for 3 days amd 2 nights with our travel agency...</p>
                </div>
                <div class="cardbtndiv">Book Now</div>
            </div>
            <div class="card3" id="card3">
                <div class="cardimgdiv">
                    <img class="image1" src="images/photo (2).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Indonesia</h2>
                    <h2><span><img src="images/Star 1.png" alt=""></span> 4.5</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Explore the beauty of island for 3 days amd 2 nights with our travel agency...</p>
                </div>
                <div class="cardbtndiv">Book Now</div>
            </div>
        </div>
        <div class="slider"></div>
        <div class="btnpage2">Discover More</div>
    </div>
    <div class="page3">
        <div class="headingpage3"><h1>Island Stays</h1></div>
        <div class="subheadingpage3"><p>One can choose from a variety of beautiful coral island which offer different staying experience from thatched huts to luxurious mordern properties. Every island offer a wider range of water sports and beach activities for you to enjoy.</p></div>
        <div class="cards2" id="cards2">
            <div class="card1" id="card4">
                <div class="cardimgdiv">
                    <img class="image2" src="images/images (17) 1.png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Kavaratti</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Karavati is the capital of the union territory of Lakshadweep having ...</p>
                </div>
                <div class="cardbtndiv2">
                    <div class="rating"><span><img src="images/Star 1.png" alt=""></span><b> 4.5 </b>(1.5k Reviews)</div>
                    <button>Explore More</button>
                </div>
            </div>
            <div class="card1" id="card5">
                <div class="cardimgdiv">
                    <img class="image2" src="images/images (17) 1 (1).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Kavaratti</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Karavati is the capital of the union territory of Lakshadweep having ...</p>
                </div>
                <div class="cardbtndiv2">
                    <div class="rating"><span><img src="images/Star 1.png" alt=""></span><b> 4.5 </b>(1.5k Reviews)</div>
                    <button>Explore More</button>
                </div>
            </div>
            <div class="card1" id="card6">
                <div class="cardimgdiv">
                    <img class="image2" src="images/images (17) 1 (2).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Kavaratti</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Karavati is the capital of the union territory of Lakshadweep having ...</p>
                </div>
                <div class="cardbtndiv2">
                    <div class="rating"><span><img src="images/Star 1.png" alt=""></span><b> 4.5 </b>(1.5k Reviews)</div>
                    <button>Explore More</button>
                </div>
            </div>
            <div class="card1" id="card7">
                <div class="cardimgdiv">
                    <img class="image2" src="images/images (17) 1 (3).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Kavaratti</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Karavati is the capital of the union territory of Lakshadweep having ...</p>
                </div>
                <div class="cardbtndiv2">
                    <div class="rating"><span><img src="images/Star 1.png" alt=""></span><b> 4.5 </b>(1.5k Reviews)</div>
                    <button>Explore More</button>
                </div>
            </div>
            <div class="card1" id="card8">
                <div class="cardimgdiv">
                    <img class="image2" src="images/images (17) 1 (4).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Kavaratti</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Karavati is the capital of the union territory of Lakshadweep having ...</p>
                </div>
                <div class="cardbtndiv2">
                    <div class="rating"><span><img src="images/Star 1.png" alt=""></span><b> 4.5 </b>(1.5k Reviews)</div>
                    <button>Explore More</button>
                </div>
            </div>
            <div class="card1" id="card9">
                <div class="cardimgdiv">
                    <img class="image2" src="images/images (17) 1 (5).png" alt="">
                </div>
                <div class="cardtextdiv1">
                    <h2>Kavaratti</h2>
                </div>
                <div class="cardtextdiv2">
                    <p>Karavati is the capital of the union territory of Lakshadweep having ...</p>
                </div>
                <div class="cardbtndiv2">
                    <div class="rating"><span><img src="images/Star 1.png" alt=""></span><b> 4.5 </b>(1.5k Reviews)</div>
                    <button>Explore More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page4">
        <div class="banner">
            <div class="leftdiv4" id="leftdiv4">
                <h2 id="bannerHeading">Let's Ready to Explore The World With Us</h2>
                <p id="bannerPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea excepturi natus quam earum omnis cum!</p>
            </div>
            <button id="btn2">Contact Us</button>
        </div>
        <div class="text4"><h2>What Our Client Says About Us</h2></div>
        <div class="cards3">
            <div class="card1" id="card10">
                <img class="img4" src="images/men.jpg" alt="">
                <h3 class="name">Roman Rey</h3>
                <h4 class="country">Toranto, Canada</h4>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, deleniti? Odit iste voluptatum reprehenderit.</p>
                <div class="star"><img src="images/star.png" alt=""></div>
            </div>
            <div class="card2" id="card11">
                <img class="img4" src="images/men.jpg" alt="">
                <h3 class="name">Roman Rey</h3>
                <h4 class="cou1ntry">Toranto, Canada</h4>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, deleniti? Odit iste voluptatum reprehenderit.</p>
                <div class="star"><img src="images/star.png" alt=""></div>
            </div>
            <div class="card3" id="card12">
                <img class="img4" src="images/men.jpg" alt="">
                <h3 class="name">Roman Rey</h3>
                <h4 class="country">Toranto, Canada</h4>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, deleniti? Odit iste voluptatum reprehenderit.</p>
                <div class="star"><img src="images/star.png" alt=""></div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <!-- <div class="page5">
        <div class="banner2">
            <div class="leftdiv5">
                <h1>Download Our App</h1>
                <p>The best travel in the world</p>
                <div class="btn5">
                    <div class="logodiv">
                        <img src="images/playstore.png" alt=""></div>
                    <div class="textdiv5">
                        <p>Get it on</p>
                        <h4>Google Play</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="div1">
                <div class="logo">
                    <img src="images/gol-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus atque qui.</p>
                </div>
                <div class="icon">
                    <img src="images/facebook.png" alt="">
                    <img src="images/twitter.png" alt="">
                    <img src="images/linkedin.png" alt="">
                    <img src="images/insta.png" alt="">
                </div>
            </div>
            <div class="div2">
                <ul>
                    <li>Company</li>
                    <li>Events</li>
                    <li>Blogs</li>
                    <li>FAQs</li>
                    <li>Join Us</li>
                </ul>
            </div>
            <div class="div3">
                <ul>
                    <li>About</li>
                    <li>Project</li>
                    <li>Blogs</li>
                    <li>Services</li>
                    <li>Our Story</li>
                </ul>
            </div>
            <div class="div4">
                <ul>
                    <li>abc@lorem.com</li>
                    <li>India</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright @ 2023 Gol Travels Private Limited. All Rights Reserved</p>
    </div>
</body>
</html> -->
